@import '../common';
@import '../layout';

.rawblock div {
  padding-left: 0.5rem;
  word-wrap: break-word;
}

.infoblock {
  margin-top: 2rem;
  color: gray;
}

.infoblock-1 {
  margin-top: 1rem;
  color: gray;
}

.infoblock-1 p {
  margin: 0.5rem;
}

.small-margin {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.hint {
  color: gray;
  margin-top: 0.5rem;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  font-style: italic;
  border-bottom: 1px dashed dark-blue(1);
}

.hint-close {
  opacity: 0.65;
}

.hint p,
.hint a {
  margin: 0;
}

.hint-center {
  text-align: center;
}


.action-button {
  background: white;
  border: 2px solid solid-color(dark-blue(0.5));
  color: $dark-link-color;
  border-radius: 3px !important;
}

.action-button:hover,
.action-button:focus {
  border-color: $dark-link-color;
  background: solid-color(navy-blue(0.05));
}

.dark-button {
  background: solid-color(dark-blue(0.8));
  color: solid-color(dark-blue(0.1));
  border: 2px solid solid-color(dark-blue(0.8));
}

.dark-button:hover,
.dark-button:focus {
  color: white;
  background: dark-blue(1);
}


.simple-button {
  margin: 0 1rem;
}

.button-padding {
  padding: 0 1rem;
}

.qr-form button:focus {
  box-shadow: 0 0 2px blue;
}

.qr-container {
  padding: 1rem;
  text-align: center;
  border: 1px solid gray;
  border-top: 0;
  box-sizing: border-box;
}

.qr-address {
  @include transition(all 250ms ease-in-out);
  text-overflow: ellipsis;
}

.qr-waiting {
  opacity: 0.25;
}


.user .button-full {
  margin-top: 2rem;
}

.user .error-box, .user .info-box {
  width: 100%;
  margin: 2rem 0 0 0;
}

.user .error-box {
  border: 1px solid $red;
}

.user .info-box {
  border: 1px solid $green;
}


.wallet-address input,
.wallet-address-search input {
  margin-top: 0.1rem;
  text-overflow: ellipsis;
  height: 2rem;
}

.wallet-address-search input {
  margin-bottom: 0.5rem;
}

.user .wallet-address-search .error-box,
.user .wallet-address-search .info-box {
  margin-top: 0.5rem;
}


.convert-switch button {
  line-height: 0.8rem;
  border-radius: 3px;
}

.convert-selected input,
.convert-selected .select-dropdown {
  border-width: 2px;
}


.newuser-title {
  border-bottom: 1px solid $gray-243;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
}

.newuser {
  padding-bottom: 1.5rem;
}

.newuser p {
  margin-top: 0;
  font-style: italic;
  line-height: 1.25rem;
}

.newuser p a {
  font-style: normal;
}

.tip {
  font-weight: 400;
}


/* These are used for inputs with "add-ons" to
 * the right or to the left.
 */
.contain-right-addon {
  padding-right: 0 !important;
}

.contain-left-addon {
  padding-left: 0 !important;
}

.has-left-addon {
  border-left: 0;
}

.has-right-addon {
  border-right: 0;
}

.right-addon {
  margin-right: 0.5rem;
}

.left-addon {
  margin-left: 0.5rem;
}

.wireframe {
  background: $main-bg;
  border: 1px solid gray;
}


/* Menu for the different sections. */
.menucontainer {
  position: absolute;
  background: $gray-243;
  border-bottom: 1px solid $gray-191;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.menucontainer .horizmenu {
  padding: 0.6rem 2.5rem;
}

.horizmenu a {
  padding: 0 1.5rem;
  color: $dark-link-color;
}


/* Tables. */
$table-max-width: 70rem;

.user-table {
  table-layout: fixed;
  width: 100%;
  max-width: $table-max-width;
  margin-bottom: 1rem;
  border-bottom: 2px solid $gray-191;
  @include transition(all 250ms ease-in-out);
}

.user-table .icon-thumbsup {
  color: gray;
}

.pendingtx .user-table {
  table-layout: auto;
  border-bottom-width: 1px;
}

.pendingtx .pendingtx-addy {
  word-break: break-all;
}

.pendingtx .user-table thead th {
  padding: 0.5rem;
}

.pendingtx .user-table thead tr {
  border-bottom: none;
}

.pendingtx caption {
  text-align: left;
  padding-bottom: 0.25rem;
}

.pendingtx .pendingtx-loading:after {
  content: '';
  border-bottom: 1px solid gray;
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  @include anim(loadingtable, 1.75s ease-in 0s 30 forwards);
}

@include keyframes(loadingtable) {
  100% {
    width: 100%;
    background: blue;
  }
}

.user-table tbody td.pendingtx-action {
  text-align: center;
  padding: 0.2rem;
}

.pendingtx-action a {
  padding: 3px 6px;
  display: block;
}

.pendingtx-action a:first-child {
  margin-bottom: 0.2rem;
}


.user-page table .loading,
.pendingtx table .loading {
  opacity: 0.2;
}

.user-page table .txid {
  text-overflow: ellipsis;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
}

.user-page table a,
.pagination a {
  color: $dark-link-color;
}

.user-table thead {
  text-align: left;
}

.user-table thead tr {
  border-bottom: 2px solid $gray-191;
}

.user-table thead th {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.user-table thead th a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.user-table table th a:hover .icon {
  color: black;
}

.user-table table .icon {
  color: $gray-191;
}

.user-table tbody td {
  padding: 0.85rem 0.5rem;
}

.user-table tbody tr {
  border-top: 1px solid $gray-243;
}

.user-table tbody tr:hover {
  background: solid-color(purple(0.1));
  border-left: 0.5rem solid purple(1);
  @include transition(all 250ms ease-in-out);
}

.table-footer {
  padding-top: 0;
  max-width: $table-max-width + 1rem;  /* 1rem for margins. */
}


/* Use a greater line height for the text that precedes the
 * \/ /\ buttons so it aligns correctly.
 */
.history-sub {
  vertical-align: middle;
}

.filter-button {
  border: 1px solid solid-color(dark-blue(0.5));
  border-bottom-width: 2px;
  color: $dark-link-color;
  padding: 0.3rem;
  cursor: pointer;
}

.filter-button:hover,
.filter-button.active {
  text-decoration: none;
  border-color: $dark-link-color;
}

.filter-button:hover,
.filter-button:focus {
  background: solid-color(navy-blue(0.05));
}

.clear-button {
  border-left: 0;
}

.table-filter {
  max-width: $table-max-width + 1rem;  /* 1rem for margins. */
}

.table-filter form {
  padding-bottom: 1rem;
  border-bottom: 1px solid solid-color(dark-blue(0.25));
}

.table-filter label {
  margin-top: 0;
  cursor: pointer;
}

.table-filter input,
.table-filter .button,
.table-footer .button {
  margin-top: 0;
  font-size: 0.9rem;
  height: 2rem;
}

.info-row {
  padding: 0.5rem 0 1rem 0;
}

.export-label:before {
  content: attr(data-label);
}


/* Header colors. */
.user .logo-bg .logo-area {
  background: transparent;
}

.user .logo-bg {
  @include linear-gradient(154deg, purple(1) 0%, navy-blue(1) 100%);
}

.user .right-logo a {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.user .right-logo .active,
.user .right-logo a:focus, {
  @include active-link-white();
}

.user.site-content {
  border-top: 2px solid $gray-243;
}


/* Table pagination. */
.pagination ul {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  line-height: 1rem;
}

.pagination li {
  display: inline-block;
}

.pagination ul li {
  padding-top: 0;
}

.pagination a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
}

.pagination a:hover {
  text-decoration: none;
  border: 1px solid;
}

.pagination .disabled {
  display: none;
}

.pagination .selected {
  font-weight: 500;
}


/* Custom icon sizes. */
.icon-down-open,
.icon-up-open {
  font-size: 0.8rem;
}

.icon-sort,
.icon-sort-number-up,
.icon-sort-number-down,
.icon-sort-name-up,
.icon-sort-name-down, {
  font-size: 0.9rem;
}

.icon-qrcode {
  font-size: 1.25rem;
}


/* Tabs. */

.user-tabs {
  overflow-x: auto;
  white-space: nowrap;
}

.user-tabs a {
  display: inline-block;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem 0.5rem;
  font-weight: 400;
  opacity: 0.7;
  color: dark-blue(1);
}

.user-tabs .active {
  border-bottom: 3px solid black;
  opacity: 1;
  color: black;
  pointer-events: none;
}

.user-tabs a:hover {
  opacity: 1;
  text-decoration: none;
  background: dark-blue(0.1);
}

.hr-tabs {
  margin-top: -3px;
}


/* Simple widgets. */

.select-dropdown {
  border: 1px solid gray;
  border-radius: 0;
  padding: 0;
  background: $gray-243 url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-dropdown select {
  border: none;
  padding: 0.4rem;
  width: 4rem;
  height: 100%;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.dropdown li {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 1rem;
}


/* Settings. */

.settings-raw {
  padding-top: 1rem;
  word-break: break-all;
}
