.simple-modal {
  width: 100% !important;
  max-width: 290px !important;
}

.addysearch-modal {
  max-width: 500px !important;
}

.simple-modal-wrapper {
  padding: 1rem 0.75rem;
}

.simple-modal-wrapper h3 {
  text-align: center;
}

.tip-modal .tip-long {
  letter-spacing: 1px;
  line-height: 1.25rem;
}

.addysearch-modal h3 {
  text-align: left;
  word-wrap: break-word;
}
