@import 'common';


.logo-small svg {
  width: 34px;
  height: 62px;
}

.logo-small svg path {
  stroke-width: 4;
}

.logo-normal svg {
  width: 50px;
  height: 58px;
}

.logo-light svg path {
  fill: rgba(255, 255, 255, 0.6);
  stroke: rgba(255, 255, 255, 0.6);
}

.logo-dark svg path {
  fill: rgba(255, 255, 255, 0.15);
  stroke: rgba(255, 255, 255, 0.15);
}

.logo-glow {
  @include anim(glow, 4s ease infinite);
}

@include keyframes(glow) {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 0.8; }
}
