@import 'common';
@import 'layout';


.menu-button {
  display: none;
  position: absolute;
  @include appearance(none);

  margin: 0;
  padding: 0;
  width: 2rem;
  height: 1.7rem;

  box-shadow: none;
  background: transparent;

  z-index: 5;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  border: 1px solid white;
  border-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}

.menu-button:focus {
  outline: none;
}

.menu-button span, .menu-button span::before, .menu-button span::after {
  display: block;
  position: absolute;
  height: 3px;
  content: '';
}

.menu-button span {
  top: 45%;
  left: 20%;
  right: 20%;
  background: transparent;
}

.menu-button span::before, .menu-button span::after {
  width: 100%;
  background: white;
  background: rgba(255, 255, 255, 0.95);
  @include transition(all 250ms ease-in-out);
}

.menu-button span::before {
  top: -0.3rem;
}
.menu-button span::after {
  bottom: -0.3rem;
}


.slideout-menu {
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  z-index: 4;
  width: 180px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;

  background: white;
  padding-top: $small-header-height;
  box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.6);
}

.slideout-menu ul {
  padding-left: 0;
  margin: 0;
}

.slideout-menu ul li {
  list-style-type: none;
  padding-top: 0;
  margin-top: 0;
}

.slideout-menu .separator {
  border-top: 1px solid $gray-191;
}

.slideout-menu a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: $dark-link-color;
}

.slideout-menu a:hover {
  font-weight: normal;
  background: solid-color(purple(0.1));
}

.slideout-menu .active {
  @include active-link();
}

.slideout-open,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .menu-button {
  border-style: inset;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-open .menu-button span:before {
  top: 0;
  @include transform(rotate(-135deg));
}

.slideout-open .menu-button span:after {
  bottom: 0;
  @include transform(rotate(135deg));
}


.slideout-mask {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background: black;
  opacity: 0;
  @include transition(opacity 0.3s, width 0s 0.3s, height 0s 0.3s);
}

.slideout-open .slideout-mask {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  @include transition(opacity 0.3s);
}
