@import 'common';

$border: rgb(203, 203, 203);
$gray: rgb(108, 108, 108);


.ticker {
  font-size: 0.875rem;
}

.ticker-small {
  position: absolute;
  display: none;
}

.ticker-element-title, .ticker th {
  text-transform: uppercase;
  color: $gray;
}

.ticker-element-title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ticker th {
  padding-bottom: 0.15rem;
  font-weight: 300;
}

.ticker-loading th:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: solid-color(dark-blue(0.5));
  @include anim(loadingticker, .5s ease 0s 30 forwards);
}

@include keyframes(loadingticker) {
  100% {
    width: 100%;
  }
}

.ticker table {
  padding-bottom: 0.5rem;
  border-collapse: separate;
}

.ticker-normal {
  width: 100%;
}

.ticker tbody td {
  text-align: center;
}

.ticker table td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


.ticker-value {
  font-weight: 400;
  padding: 0.1rem;
}

.ticker-red {
  color: rgb(162, 26, 26);
}

.ticker-green {
  color: rgb(74, 162, 26);
}



@media(max-width: 48rem) {
  .ticker-normal {
    display: none;
  }

  .ticker-small {
    display: table;
    top: 3.5rem;
    right: 4rem;
  }
}


@media(max-width: 32rem) {
  .ticker-small {
    top: 3rem;
    right: 1.5rem;
  }
}
