@import './common';
@import './layout';


.tx-info-title {
  text-transform: uppercase;
  color: $gray-128;
  margin: 0.75rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.tx-page a {
  color: $dark-link-color;
}

.tx-output {
  border: 1px solid $gray-191;
  padding: 0 0.25rem 0.25rem 0.25rem;
  border-radius: 3px;
}

.tx-vout {
  border-bottom: 1px solid $gray-243;
  padding: 0.5rem;
}

.tx-vout:last-of-type {
  border-bottom: 0;
}

.tx-address,
.tx-amount {
  font-weight: 400;
}

.tx-address {
  color: $gray;
}

.tx-amount {
  color: $gray-128;
  font-size: 0.875rem;
}

.tx-spent {
  font-size: 0.875rem;
}

.tx-info-extra {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.tx-info-label,
.tx-info-value {
  margin-top: 0.5rem;
}
